.header {
  font-family: 'Muller', sans-serif;
  position: relative;
  margin-bottom: 32px;

  @media(max-width: 992px) {
    margin-bottom: 20px;
  }
  
  &::after {
    content: '';
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 95px;

    @media(max-width: 992px) {
      bottom: 85px;
    }

    @media(max-width: 576px) {
      bottom: 53px;
    }

  }

  .contacts__list {
    gap: 70px;
  }

  .contacts__activities {
    gap: 24px;
  }



  .contacts__item {
    font-size: 12px;
    color: #000;

    }

    .contacts__text {
      font-weight: 400;
      color: #000;
    }

    .contacts__link {
      font-weight: 500;
      color: #000;
    }

  }

  .contacts__icon:hover path {
    fill: #f84435;
  }

  .contacts__btn {
    background: #000;
    clip-path: polygon(0% 0%, 100% 0%, 100% 25px, 48px 100%, 0 100%);
    width: 56px;
    height: 42px;

    &:hover {
      background: #F84435;
    }

  }

  .menu__burger-btn {
    width: 85px;
    height: 56px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8px 100%, 0% calc(100% - 18px));
    background: #F84435;


    @media(max-width: 992px) {
      width: 75px;
      height: 51px;
    }

    @media(max-width: 576px) {
      width: 60px;
      height: 42px;

    }

  }

  .mobile-btn {
    display: none;

    @media(max-width: 576px) {
      display: flex !important;
    }
  }

  .mobile-hidden {
    display: flex;

    @media(max-width: 576px) {
      display: none !important;
    }

  }

  .header__menu {
    padding-top: 39px;

    @media(max-width: 992px) {
      padding-top: 35px;
    }
    
    @media(max-width: 576px) {
      padding-top: 11px;
    }

    .menu__list {
      @media(max-width: 992px) {
        gap: 20px;
      }


      .menu__logo {
        margin: 0 100px 0 15px;

        @media(max-width: 992px) {
          margin: 0;
          width: 185px;
          height: 51px;
        }

        @media(max-width: 576px) {
          width: 155px;
          height: 42px;
        }

      }

      .menu__btns {
        gap: 89px;

        @media(max-width: 992px) {
          gap: 30px; 
        }

        .dropdown-toggle::after {
          content: '';
          display: none;
        }

        .dropdown-toggle:hover {
          color: #f84435;
        }

        .dropdown-toggle.show {
          &::before {
            content: '';
            width: 158px;
            height: 56px;
            position: absolute;
            background: #f84435;
            content: "";
            width: 158px;
            height: 56px;
            position: absolute;
            background: #f84435;
            z-index: -1;
            clip-path: polygon(26% 0%, 100% 0%, 100% 50%, 92.36% 100%, 0% 100%, 0% 0%);
            top: -22px;
            left: -15px;
          }

          svg, path {
            fill: #fff;
            transform-origin: center center;
            transform: rotate(90deg);
            height: 10px;
          }

          color: #fff;
        }

        .dropdown-menu {
          top: 18px !important;
          left: -15px !important;
          width: 158px;
          clip-path: polygon(26% 0%, 91.36% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 0%);
          background: #000;
          border: none;
          border-radius: 0;

          .dropdown-item {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            color: #fff;

            &:hover {
              background: #000;
            }

          }

        }

        .menu__item {
          display: flex;
          align-items: center;
          gap: 5px;
          position: relative;
        }

        .menu__btn {
          font-weight: 700;
          color: #000;
          font-size: 14px;
          line-height: 14px;
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            margin-bottom: 4px;
          }

        }

      }

    }

    .menu__social {
      gap: 24px;
    }

    .menu__link a {
      display: flex;
      align-items: center
    }

  }


